.main {
    padding-top: 100px;
    padding-bottom: 400px;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: -230px;
}
.banner {
    width: 100%;
    height: 600px;
    background: url('./images/banner.png') no-repeat center center;
    background-size: 100% 100%;
}
.mod {
    box-sizing: border-box;
    border-radius: 30px;
    background: linear-gradient(180.00deg, rgba(255, 255, 255, 1),rgba(255, 254.74501037597656, 254.74501037597656, 1) 100%);
    border: 1px solid rgba(95, 255, 230, 1);
    margin-top: 32px;
}

.mod1 {
    padding: 26px 0 40px;
    .title {
        width: 662px;
        height: 90px;
        background: url('./images/title_1.png') no-repeat center center;
        background-size: 100% 100%;
        margin: 0 auto 0;
    }
    .text-title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 32px;
        .text-title-icon-1 {
            display: inline-block;
            width: 32px;
            height: 18px;
            background: url('./images/text_shape_1.png') no-repeat center center;
            background-size: 100% 100%;
            margin-right: 20px;
        }
        .text-title-icon-2 {
            display: inline-block;
            width: 32px;
            height: 18px;
            background: url('./images/text_shape_2.png') no-repeat center center;
            background-size: 100% 100%;
            margin-left: 20px;
        }
    }
    .content {
        padding: 0  40px;
        font-size: 28px;
    }
    .content-item {
        margin-top: 20px;
        span {
            font-weight: bold;
            color:  rgba(0, 136, 239, 1);
            font-style: italic;
        }
    }
    .tips-content {
        border-radius: 10px;
        background:#ebfcff;
        padding: 20px;
        font-size: 26px;
        color: #000;
        word-break: break-all;
        .tips-icon {
            display: inline-block;
            width: 20px;
            height: 18px;
            background: url('./images/tips_icon.png') no-repeat center center;
            background-size: 100% 100%;
            margin-right: 10px;
            vertical-align: middle;
            margin-top: -2px;
        }
        span {
            color:  rgba(0, 136, 239, 1);
        }
    }
}
.mod2 {
    padding: 26px 0 40px;
    .title {
        width: 660px;
        height: 66px;
        background: url('./images/title_2.png') no-repeat center center;
        background-size: 100% 100%;
        margin: 0 auto 0;
    }
    .sub-title {
        text-align: center;
        color: rgba(0, 178, 251, 1);
        font-size: 26px;
    }
    .swiper-step {
        padding: 0 16px;
        margin-top: 28px;
        .swiperItem {
            padding: 22px 0 52px 0;
            border: 1px solid rgba(146, 239, 255, 1);
            border-radius: 30px;
            background: rgba(235, 252, 255, 1);
            box-sizing: border-box;
        }
        .step-content {
            padding: 0 26px;
            .step-content-item {
                font-size: 26px;
                color: #000;
                margin-top: 40px;
                span {
                    color:  rgba(0, 136, 239, 1);
                }
            }

            .step-content-item-2 {
                margin-top: 10px;
            }
            .step-content-tips {
                font-size: 26px;
                color: #000;
                margin-top: 20px;
                box-sizing: border-box;
                padding: 32px 26px;
                background: #fff;
                border-radius: 20px;
                span {
                    color:  rgba(0, 136, 239, 1);
                }
            }
            .step-content-tips-2 {
                padding: 10px 26px;
            }
        }
        .flag {
            position: relative;
            display: flex;
            align-items: center;
            background: url('./images/flag.png') no-repeat center center;
            background-size: 100% 100%;
            width: 494px;
            height: 60px;
            font-size: 28px;
            color: #000;
            font-weight: bold;
            span {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(0, -50%);
                width: 200%;
            }
        }
        .swiper-pagination {
            position: relative;
          }
          ::v-deep .swiper-pagination-bullet {
            width: 14px;
            height: 8px;
            background: #b8b8b8;
            border-radius: 0;
            margin-left: 10px;
          }
          ::v-deep .swiper-pagination-bullet-active {
            width: 40px;
            background: rgba(97, 225, 247, 1);
          }

          
    }
    .content {
        padding: 0  40px;
        font-size: 28px;
    }
    .text-title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 32px;
        .text-title-icon-1 {
            display: inline-block;
            width: 32px;
            height: 18px;
            background: url('./images/text_shape_1.png') no-repeat center center;
            background-size: 100% 100%;
            margin-right: 20px;
        }
        .text-title-icon-2 {
            display: inline-block;
            width: 32px;
            height: 18px;
            background: url('./images/text_shape_2.png') no-repeat center center;
            background-size: 100% 100%;
            margin-left: 20px;
        }
    }
    .content-item {
        margin-top: 20px;
        font-style: italic;
    }
    .tips-content {
        border-radius: 10px;
        background:#ebfcff;
        padding: 20px;
        margin-top: 16px;
        font-size: 26px;
        color: #000;
        word-break: break-all;
        .tips-icon {
            display: inline-block;
            width: 20px;
            height: 18px;
            background: url('./images/tips_icon.png') no-repeat center center;
            background-size: 100% 100%;
            margin-right: 10px;
            vertical-align: middle;
            margin-top: -2px;
        }
        span {
            color:  rgba(0, 136, 239, 1);
        }
    }
}
.mod3 {
    padding: 26px 0 40px;
    .title {
        width: 660px;
        height: 90px;
        background: url('./images/title_3.png') no-repeat center center;
        background-size: 100% 100%;
        margin: 0 auto 0;
    }
    .sub-title {
        text-align: center;
        color: rgba(0, 178, 251, 1);
        font-size: 26px;
    }
    .content {
        padding: 0  40px;
        font-size: 28px;
        .child-title {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 26px;
            color: #000;
            font-weight: bold;
            font-size: 28px;
            width: 556px;
            height: 60px;
            background: url('./images/child_title_bg.png') no-repeat center center;
            background-size: 100% 100%;
            margin: 16px auto 0;
        }
        .text-title {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 32px;
            .text-title-icon-1 {
                display: inline-block;
                width: 32px;
                height: 18px;
                background: url('./images/text_shape_1.png') no-repeat center center;
                background-size: 100% 100%;
                margin-right: 20px;
            }
            .text-title-icon-2 {
                display: inline-block;
                width: 32px;
                height: 18px;
                background: url('./images/text_shape_2.png') no-repeat center center;
                background-size: 100% 100%;
                margin-left: 20px;
            }
        }
    }
    .content-item {
        margin-top: 20px;
        span {
            color:  rgba(25, 104, 255, 1);
        }
    }
    .tips-content {
        border-radius: 10px;
        background:#ebfcff;
        padding: 20px;
        margin-top: 20px;
        font-size: 26px;
        color: #000;
        word-break: break-all;
        .tips-icon {
            display: inline-block;
            width: 20px;
            height: 18px;
            background: url('./images/tips_icon.png') no-repeat center center;
            background-size: 100% 100%;
            margin-right: 10px;
            vertical-align: middle;
            margin-top: -2px;
        }
        span {
            color:  rgba(0, 136, 239, 1);
        }
    }
}

.mod4 {
    padding: 26px 0 40px;
    .title {
        width: 666px;
        height: 90px;
        background: url('./images/title_4.png') no-repeat center center;
        background-size: 100% 100%;
        margin: 0 auto 0;
    }
    .t1 {
        width: 556px;
        height: 60px;
        background: url('./images/t1.png') no-repeat center center;
        background-size: 100% 100%;
        margin: 0 auto 0;
    }
    .table-wrap {
        border: 2px solid rgba(183, 244, 255, 1);
        border-radius: 10px;
        overflow: hidden;
        width: 626px;
        margin: 32px auto 0;
        table {
            width: 100%;
            border-collapse: collapse;
            tr:nth-child(odd) {
                td:first-child {
                    background: #f1fdff;
                    width: 40%;
                    text-align: center;
                }
                td:nth-child(2) {
                    background: #fff;
                    text-align: center;
                }
                td:last-child {
                    box-sizing: border-box;
                    background: rgba(255, 255, 255, 1);
                    text-align: center;
                    padding: 20px 16px;
                    
                }
            }

            // 偶数行
            tr:nth-child(even) {
                // 第一列
                td:first-child {
                    color: #000;
                    font-weight: bold;
                    background: #e0faff;
                    text-align: center;
                }
                td:nth-child(2) {
                    text-align: center;
                    background: #ebfcff;
                }
                td:last-child {
                    text-align: center;
                    background: #ebfcff;
                }
            }
          
        }
    }
    .content {
        padding: 0  32px;
        .text-title {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 32px;
            .text-title-icon-1 {
                display: inline-block;
                width: 32px;
                height: 18px;
                background: url('./images/text_shape_1.png') no-repeat center center;
                background-size: 100% 100%;
                margin-right: 20px;
            }
            .text-title-icon-2 {
                display: inline-block;
                width: 32px;
                height: 18px;
                background: url('./images/text_shape_2.png') no-repeat center center;
                background-size: 100% 100%;
                margin-left: 20px;
            }
        }
    }
    .content-item {
        margin-top: 20px;
        font-size: 26px;
        color: #000;
        word-break: break-all;
        margin-top: 12px;
        padding: 0 8px;
        span {
            color:  rgba(25, 104, 255, 1);
        }
    }
    .t2 {
        width: 556px;
        height: 60px;
        background: url('./images/t2.png') no-repeat center center;
        background-size: 100% 100%;
        margin: 40px auto 0;
    }
}

.mod5 {
    padding: 26px 0 40px;
    .title {
        width: 666px;
        height: 90px;
        background: url('./images/title_5.png') no-repeat center center;
        background-size: 100% 100%;
        margin: 0 auto 0;
    }
    .t3 {
        width: 630px;
        height: 60px;
        background: url('./images/t3.png') no-repeat center center;
        background-size: 100% 100%;
        margin: 72px auto 0;
    }
    .t4 {
        width: 647px;
        height: 60px;
        background: url('./images/t4.png') no-repeat center center;
        background-size: 100% 100%;
        margin: 40px auto 0;
    }
    .content {
        padding: 0  32px;
        .text-title {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 32px;
            .text-title-icon-1 {
                display: inline-block;
                width: 32px;
                height: 18px;
                background: url('./images/text_shape_1.png') no-repeat center center;
                background-size: 100% 100%;
                margin-right: 20px;
            }
            .text-title-icon-2 {
                display: inline-block;
                width: 32px;
                height: 18px;
                background: url('./images/text_shape_2.png') no-repeat center center;
                background-size: 100% 100%;
                margin-left: 20px;
            }
        }
    }
    .content-item {
        margin-top: 20px;
        font-size: 26px;
        color: #000;
        word-break: break-all;
        margin-top: 12px;
        padding: 0 8px;
        span {
            color:  rgba(25, 104, 255, 1);
        }
    }
    .t5 {
        width: 542px;
        height: 60px;
        background: url('./images/t5.png') no-repeat center center;
        background-size: 100% 100%;
        margin: 40px auto 0;
    }

    .tips-content {
        border-radius: 10px;
        background:#ebfcff;
        padding: 20px;
        font-size: 26px;
        color: #000;
        word-break: break-all;
        margin-top: 20px;
        span {
            color:  rgba(0, 136, 239, 1);
        }
    }
    dl {
        display: flex;
        margin-top: 20px;
        dt {
            width: 24px;
            height: 18px;
            background: url('./images/dot2.png') no-repeat center center;
            background-size: 100% 100%;
            margin-right: 10px;
            vertical-align: middle;
            margin-top: 12px;
        }
        dd {
            flex: 1;
            span {
                color:  rgba(25, 104, 255, 1);
            }
        }
    }
}
@media screen and (min-width: 750px) {
    
    
}