.main {
    padding-top: 100px;
    padding-bottom: 400px;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: -230px;
}
.banner {
    width: 100%;
    height: 600px;
    background: url('./images/banner.png') no-repeat center center;
    background-size: 100% 100%;
}
.mod {
    box-sizing: border-box;
    border-radius: 30px;
    background: linear-gradient(180.00deg, rgba(255, 255, 255, 1),rgba(255, 254.74501037597656, 254.74501037597656, 1) 100%);
    border: 1px solid rgba(95, 255, 230, 1);
    margin-top: 32px;
}

.mod1 {
    padding: 26px 0 40px;
    .title {
        width: 660px;
        height: 108px;
        background: url('./images/title_1.png') no-repeat center center;
        background-size: 100% 100%;
        margin: 0 auto 0;
    }
    .content {
        padding: 0  40px;
        font-size: 28px;
    }
    .content-item {
        margin-top: 20px;
    }
}

.mod2 {
    padding: 26px 0 40px;
    .title {
        width: 660px;
        height: 90px;
        background: url('./images/title_2.png') no-repeat center center;
        background-size: 100% 100%;
        margin: 0 auto 0;
    }
    .content {
        padding: 0  40px;
        font-size: 28px;
    }
    .content-item {
        margin-top: 20px;
    }
}
.mod2 {
    padding: 26px 0 40px;
    .title {
        width: 660px;
        height: 90px;
        background: url('./images/title_2.png') no-repeat center center;
        background-size: 100% 100%;
        margin: 0 auto 0;
    }
    .content {
        padding: 0  40px;
        font-size: 28px;
    }
    .text-title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 32px;
        .text-title-icon-1 {
            display: inline-block;
            width: 32px;
            height: 18px;
            background: url('./images/text_shape_1.png') no-repeat center center;
            background-size: 100% 100%;
            margin-right: 20px;
        }
        .text-title-icon-2 {
            display: inline-block;
            width: 32px;
            height: 18px;
            background: url('./images/text_shape_2.png') no-repeat center center;
            background-size: 100% 100%;
            margin-left: 20px;
        }
    }
    .content-item {
        margin-top: 20px;
        font-style: italic;
    }
    dl {
        display: flex;
        margin-top: 20px;
    }
    dt {
        width: 12px;
        height: 12px;
        background: url('./images/dot.png') no-repeat center center;
        background-size: 100% 100%;
        margin-right: 10px;
        margin-top: 10px;
    }
    dd {
        flex: 1;
        span {
            font-weight: bold;
            color:  rgba(25, 104, 255, 1);
            font-style: italic;
        }
    }
}
.mod3 {
    padding: 26px 0 40px;
    .title {
        width: 660px;
        height: 90px;
        background: url('./images/title_3.png') no-repeat center center;
        background-size: 100% 100%;
        margin: 0 auto 0;
    }
    .content {
        padding: 0  40px;
        font-size: 28px;
    }
    .content-item {
        margin-top: 20px;
        font-style: italic;
    }
    .table-wrap {
        border: 2px solid rgba(183, 244, 255, 1);
        border-radius: 10px;
        overflow: hidden;
        table {
            width: 100%;
            border-collapse: collapse;
            tr:nth-child(odd) {
                td:first-child {
                    background: #f1fdff;
                    width: 40%;
                    text-align: center;
                }
                td:last-child {
                    box-sizing: border-box;
                    background: rgba(255, 255, 255, 1);
                    text-align: center;
                    padding: 20px 16px;
                    
                }
            }

            // 偶数行
            tr:nth-child(even) {
                // 第一列
                td:first-child {
                    color: #000;
                    font-weight: bold;
                    background: #e0faff;
                    text-align: center;
                }
                td:last-child {
                    text-align: center;
                    background: #ebfcff;
                }
            }
          
        }
    }
}
.mod4 {
    padding: 26px 0 40px;
    .title {
        width: 660px;
        height: 90px;
        background: url('./images/title_4.png') no-repeat center center;
        background-size: 100% 100%;
        margin: 0 auto 0;
    }
    .content {
        padding: 0  40px;
        font-size: 28px;
    }
    .content-item {
        margin-top: 20px;
        font-style: italic;
    }
   
}

.mod5 {
    padding: 26px 0 40px;
    .title {
        width: 660px;
        height: 90px;
        background: url('./images/title_5.png') no-repeat center center;
        background-size: 100% 100%;
        margin: 0 auto 0;
    }
    .content {
        padding: 0  40px;
        font-size: 28px;
    }
    .content-item {
        margin-top: 20px;
        font-style: italic;
    }
    dl {
        display: flex;
        margin-top: 20px;
    }
    dt {
        width: 12px;
        height: 12px;
        background: url('./images/dot.png') no-repeat center center;
        background-size: 100% 100%;
        margin-right: 10px;
        margin-top: 10px;
    }
    dd {
        flex: 1;
        span {
            font-weight: bold;
            color:  rgba(25, 104, 255, 1);
            font-style: italic;
        }
    }
}

.mod6 {
    padding: 26px 0 40px;
    .title {
        width: 660px;
        height: 90px;
        background: url('./images/title_6.png') no-repeat center center;
        background-size: 100% 100%;
        margin: 0 auto 0;
    }
    .content {
        padding: 0  40px;
        font-size: 28px;
    }
    .content-item {
        margin-top: 20px;
    }
    dl {
        display: flex;
        margin-top: 20px;
    }
    dt {
        width: 12px;
        height: 12px;
        background: url('./images/dot.png') no-repeat center center;
        background-size: 100% 100%;
        margin-right: 10px;
        margin-top: 10px;
    }
    dd {
        flex: 1;
        span {
            font-weight: bold;
            color:  rgba(25, 104, 255, 1);
            font-style: italic;
        }
    }
}
.mod7 {
    padding: 26px 0 40px;
    .title {
        width: 660px;
        height: 90px;
        background: url('./images/title_7.png') no-repeat center center;
        background-size: 100% 100%;
        margin: 0 auto 0;
    }
    .content {
        padding: 0  40px;
        font-size: 28px;
    }
    .content-item {
        margin-top: 20px;
    }
    dl {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    dt {
        width: 12px;
        height: 12px;
        background: url('./images/dot.png') no-repeat center center;
        background-size: 100% 100%;
        margin-right: 10px;
    }
    dd {
        flex: 1;
        span {
            font-weight: bold;
            color: #000;
        }
    }
}
.mod8 {
    padding: 26px 0 40px;
    .title {
        width: 660px;
        height: 90px;
        background: url('./images/title_8.png') no-repeat center center;
        background-size: 100% 100%;
        margin: 0 auto 0;
    }
    .content {
        padding: 0  40px;
        font-size: 28px;
    }
    .content-item {
        margin-top: 20px;
    }
    dl {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }
    dt {
        width: 12px;
        height: 12px;
        background: url('./images/dot.png') no-repeat center center;
        background-size: 100% 100%;
        margin-right: 10px;
    }
    dd {
        flex: 1;
        span {
            font-weight: bold;
            color: #000;
        }
    }
}
@media screen and (min-width: 750px) {
    
    
}